<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Vertical (basic) form</h2>
    <form >
        {{ range $anahtar, $user := . }}
            <div class="row">
                <div class="col-sm-2">{{ $anahtar }}</div>
                <div class="col-sm-2">{{ $user.Name }}</div>
                <div class="col-sm-2">{{ $user.SurName }}</div>
                <a href="/userProfile/{{$user.ID}}" name="UserDetails" id="UserDetails" >UserProfile</a>
                <a href="/userEdit/{{$user.ID}}" name="UserEdit" id="UserEdit" >Edit User</a>
            </div>
        {{end}}
    </form>
</div>


</body>
</html>